{% extends 'admin/base.html' %}

{% load i18n %}

{% block extrastyle %}{{ block.super }}
  <style>
    :root {
      --primary: #79aec8;
      --secondary: #021795;
      --accent: #ff0000;
      --primary-fg: #fff;

      --body-fg: #333;
      --body-bg: #fff;
      --body-quiet-color: #666;
      --body-loud-color: #000;

      --header-color: #fff;
      --header-branding-color: #fff;
      --header-bg: linear-gradient(90deg, #FE0000 0%, #031794 30.98%, #1E7CFF 100%);
      --header-link-color: var(--primary-fg);

      --breadcrumbs-fg: var(--body-fg);
      --breadcrumbs-link-fg: var(--body-fg);
      --breadcrumbs-bg: var(--body-bg);

      --link-fg: #417893;
      --link-hover-color: #036;
      --link-selected-fg: var(--secondary);

      --hairline-color: #e8e8e8;
      --border-color: #ccc;

      --error-fg: #ba2121;

      --message-success-bg: #dfd;
      --message-warning-bg: #ffc;
      --message-error-bg: #ffefef;

      --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
      --selected-bg: #e4e4e4; /* E.g. selected table cells */
      --selected-row: #ffc;

      --button-fg: #fff;
      --button-bg: var(--secondary);
      --button-hover-bg: #205067;
      --default-button-bg: #205067;
      --default-button-hover-bg: var(--secondary);
      --close-button-bg: #747474;
      --close-button-hover-bg: #333;
      --delete-button-bg: #ba2121;
      --delete-button-hover-bg: #a41515;

      --object-tools-fg: var(--button-fg);
      --object-tools-bg: var(--close-button-bg);
      --object-tools-hover-bg: var(--close-button-hover-bg);
    }

    #branding #site-name a:link, #branding #site-name a:visited {
      color: #fff;
    }

    .module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 0.8125rem;
    text-align: left;
    background: var(--header-bg);
    color: var(--header-link-color);
}

  </style>
{% endblock %}

{% block userlinks %}
  {% if site_url %}
    <a href="{{ site_url }}">{% translate 'Go to app' %}</a> /
  {% endif %}
  {% if user.is_active and user.is_staff %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
      <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> /
    {% endif %}
  {% endif %}
  {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /
  {% endif %}
  <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
    {% csrf_token %}
    <button type="submit">{% translate 'Log out' %}</button>
  </form>
{% endblock %}
