<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'index' %}">
          <span data-feather="home" class="align-text-bottom"></span>
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'notification_list' %}">
          <span data-feather="file" class="align-text-bottom"></span>
          Notifications
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'solution_list' %}">
          <span data-feather="crosshair" class="align-text-bottom"></span>
          Solutions
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="bar-chart-2" class="align-text-bottom"></span>
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="layers" class="align-text-bottom"></span>
          Compliance
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="calendar" class="align-text-bottom"></span>
          Anniversaries
        </a>
      </li>
    </ul>

    <h6
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
      <span>Sections</span>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="flag" class="align-text-bottom"></span>
          Tumela
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="flag" class="align-text-bottom"></span>
          Dishaba
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="flag" class="align-text-bottom"></span>
          AMS
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="flag" class="align-text-bottom"></span>
          Concentrators
        </a>
      </li>
    </ul>

    <h6
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
      <span>Information</span>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">
          <span data-feather="info" class="align-text-bottom"></span>
          About
        </a>
      </li>
    </ul>
  </div>
</nav>
