<!-- Section: Timeline -->
<section class="py-3">
  <ul class="timeline-with-icons">
    <li class="timeline-item mb-5">

      <span class="timeline-icon" data-feather="alert-circle"></span>
      <h6>Incident Logged</h6>
      <p class="mb-2">2022-10-14 18:30</p>
      <p class="text-muted">Created by Name Surname.</p>
    </li>

    <li class="timeline-item mb-5">

      <span class="timeline-icon" data-feather="clock"></span>
      <h6>Notification Created</h6>
      <p class="mb-2">2022-10-14 21:30</p>
      <p class="text-muted">Notification with ID 123-ABC created by Name Surname</p>
    </li>

    <li class="timeline-item mb-5">

      <span class="timeline-icon" data-feather="file"></span>
      <h6>Report Uploaded</h6>
      <p class="mb-2">2022-10-14 18:30</p>
      <p class="text-muted">Report uploaded by Name Surname.</p>
      <p><a href="#" class="btn btn-sm btn-primary">View Report</a></p>
    </li>

    <li class="timeline-item mb-5">
      <span class="timeline-icon" data-feather="layers"></span>
      <h6>Solutions Reviewed</h6>
      <p class="mb-2">2022-10-16 18:30</p>
      <p class="text-muted">During regular weekly meeting. Signed
      off by User A, User B & User C.</p>
    </li>

    <li class="timeline-item mb-5">
      <span class="timeline-icon bg-success text-white" data-feather="check"></span>
      <h6>Incident Closed</h6>
      <p class="mb-2">2022-10-16 18:30</p>
      <p class="text-muted">{% lorem 20 w random %}</p>
    </li>

    <li class="timeline-item mb-5">
      <span class="timeline-icon bg-light text-black" data-feather="fast-forward"></span>
      <h6>Future Actions</h6>
    </li>

    <li class="timeline-item mb-5">
      <span class="timeline-icon" data-feather="clock"></span>
      <h6>One-Year Anniversary Review</h6>
      <p class="mb-2">2023-10-16</p>
      <p class="text-muted">{% lorem 20 w random %}</p>
    </li>

  </ul>
</section>
<!-- Section: Timeline -->

<style>
  .timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
  }

  .timeline-with-icons .timeline-item {
    position: relative;
  }

  .timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
  }

  .timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    top: -6px;
    background-color: hsl(217, 88.2%, 90%);
    color: hsl(217, 88.8%, 35.1%);
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px
  }
</style>
