{% extends 'defects/base.html' %}

{% block content %}

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">
    <h2>About</h2>
    <hr>
    <p>This is a demo application to indicate the benefits of performing Defect Elimination with a structured application.</p>

    <p>Benefits include:</p>

    <ul>
      <li>all stakeholders can navigate and view data with access control</li>
      <li>user communication coordination</li>
      <li>audit trails</li>
      <li>realtime status instead of periodic reports</li>
      <li>referential integrity of data</li>
      <li>save unnecessary manual work and avoid human input errors</li>
      <li>realtime status instead of periodic reports</li>
      <li>standardised and queryable data storage</li>
    </ul>

    <p>&copy; 2022 Vetasi Africa (Pty) Ltd</p>
  </main>

{% endblock %}
