{% extends 'defects/base.html' %}

{% block content %}

  <main>
    <h2>About</h2>
    <hr>
    <p>This is the first iteration of the Defect Elimination. The tool is being developed to help facilitate AMB's overall Defect Elimination program. AMB has a clear policy and defined approach for Defect Elimination across its mining complex.</p>

    <p>Benefits include:</p>

    <ul>
      <li>all stakeholders can navigate and view data with access control</li>
      <li>user communication coordination</li>
      <li>audit trails</li>
      <li>realtime status instead of periodic reports</li>
      <li>referential integrity of data</li>
      <li>save unnecessary manual work and avoid human input errors</li>
      <li>realtime status instead of periodic reports</li>
      <li>standardised and queryable data storage</li>
    </ul>

    <p>The DE Tool development is a Cohesive project. Feedback and tool issues can be submitted <a href="{% url 'feedback' %}">here</a>.</p>
  </main>

{% endblock %}
