{% extends "defects/base.html" %}


{% block content %}

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">
    <h2>Users</h2>
    <hr>
    <p>Below is a table of registered users on the platform, along with the permission groups they belong to.</p>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Email</th>
        <th>Username</th>
        <th>Groups</th>
      </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.email }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.groups|join:", " }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock %}
