{% extends 'defects/base.html' %}

{% block content %}
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">

    <div class="d-flex justify-content-between mb-3">
      <h2>One-Year Anniversary Incidents</h2>
    </div>
    <div class="d-flex justify-content-between">
      <p>Viewing significant RIs for <strong>Amandelbult Mine, Section: Concentrators</strong>.<br>
        Time period: <strong>2023-03-01 – 2023-04-30</strong>. <small class="text-muted">Change period using filter.</small>
      </p>
      <div>
        <a href="#" class="btn btn-outline-secondary btn-sm">Export</a>
        <a href="#" class="btn btn-outline-secondary btn-sm">Filter</a>
        <a href="#" class="btn btn-primary btn-sm">Download Report</a>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-sm table-striped table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>Solutions</th>
          <th>Date</th>
          <th>Section</th>
          <th>Section Engineer</th>
          <th>Equipment</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for incident in incidents %}
          <tr>
            <td class="text-nowrap"><a class="text-black"
                                       href="{% url 'incident_detail' %}?state=17">{{ incident.ri_number }}</a></td>
            <td>6 / 6</td>
            <td class="font-monospace text-nowrap">{{ incident.time_start|date:'Y-m-d' }}</td>
            <td class="text-nowrap">{{ incident.section }}</td>
            <td class="text-nowrap">{{ incident.section_engineer }}</td>
            <td class="text-nowrap">{{ incident.equipment }}</td>
            <td class="text-nowrap">{{ incident.description }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}
