{% extends 'defects/base.html' %}

{% block content %}
  <main>

    <div class="d-flex justify-content-between mb-3">
      <h2>One-Year Anniversary Incidents</h2>
    </div>
    <div class="d-flex justify-content-between">
      <p>Viewing significant RIs due for review.</p>
      <div>
       <!-- placeholder for action buttons -->
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-sm table-striped table-hover">
        <thead>
        <tr>
          <th>RI No.</th>
          <th>Completed Solutions</th>
          <th>Date</th>
          <th>Operation</th>
          <th>Area</th>
          <th>Section</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for incident in incidents %}
          <tr>
            <td class="text-nowrap">
              <a class="text-black" href="{% url 'incident_anniversary_detail' incident.pk %}" up-layer="new" up-history="false">{{ incident.code }}</a>
            </td>
            <td>{{ incident.num_completed_solutions }} / {{ incident.solutions.all|length }}</td>
            <td class="text-nowrap">{{ incident.anniversary_date|date:'Y-m-d' }}</td>
            <td class="text-nowrap">{{ incident.operation.name }}</td>
            <td class="text-nowrap">{{ incident.area.name }}</td>
            <td class="text-nowrap">{{ incident.section }}</td>
            <td class="text-nowrap">{{ incident.short_description }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}
