{% extends 'defects/base.html' %}

{% load crispy_forms_filters %}

{% block content %}

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">

    <h2>Approval Request for {{ incident.code }} {% if approval.type == approval.NOTIFICATION %}48H Notification{% endif %}</h2>

    <hr>

    {% if approval.type == approval.NOTIFICATION %}
      <p>You have been requested to approve the notification report for reliability incident "{{ incident.code }}".</p>
      <p>The report can be viewed <a href="{% url 'incident_notification' incident.pk %}" target="_blank">here</a> or
        downloaded as PDF <a href="{% url 'incident_notification_pdf' incident.pk %}" target="_blank">here</a>.</p>
    {% endif %}

    {% if approval.type == approval.CLOSE_OUT %}
      <p>You have been requested to rate the close-out for reliability incident "{{ incident.code }}".</p>
      <p>The close-out slide can be viewed as PDF <a href="{% url 'incident_close_pdf' incident.pk %}" target="_blank">here</a>.</p>
    {% endif %}

    {% if approval.type == approval.RCA %}
      <p>You have been requested to approve the RCA report for reliability incident "{{ incident.code }}".</p>
      <p>The report can be viewed <a href="{{ incident.report_file.url }}" target="_blank">here</a>.</p>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" class="btn btn-primary" value="Submit">
    </form>

  </main>

{% endblock %}
