{% extends 'defects/base.html' %}

{% load static %}

{% block content %}

  <main>
    <div class="d-flex justify-content-between mb-3">
      <h2>Compliance Dashboard {{ request.GET.area }}</h2>
      <div>
        <div class="btn-group">
          <a href="?area=all" class="btn btn-secondary btn-sm {% if not request.GET.area or request.GET.area == "all" %} active {% endif %}">All Areas</a>
          {% for area in areas %}
            <a href="?area={{ area.id }}" class="btn btn-secondary btn-sm {% if request.GET.area == area.id|slugify %}active {% endif %}">{{ area.name }}</a>
          {% endfor %}
        </div>

      </div>
    </div>

    <p>Reliability Statistics for the past 25 weeks.</p>

    <div class="row">
      <div class="col-12 col-lg-6">

        <h6>RIs</h6>
        <table class="table table-sm table-striped">
          <thead>
          <tr>
            <th>Description</th>
            {% for section in sections %}
            <th>{{ section.name }}</th>
            {% endfor %}
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Free days</td>
             {% for section in sections %}
            <td>x</td>
            {% endfor %}
          </tr>
          <tr>
            <td>To date</td>
            {% for section in sections %}
            <td>x</td>
            {% endfor %}
          </tr>
          <tr>
            <td>Closed out</td>
            {% for section in sections %}
            <td>x</td>
            {% endfor %}
          </tr>
          <tr>
            <td>Outstanding</td>
            {% for section in sections %}
            <td>x</td>
            {% endfor %}
          </tr>
          <tr>
            <td>% Closed out</td>
            {% for section in sections %}
            <td>x</td>
            {% endfor %}
          </tr>
          </tbody>
        </table>

        <h6>Solutions</h6>
        <table class="table table-sm table-striped">
          <thead>
          <tr>
            <th>Description</th>
            {% for section in sections %}
            <th>{{ section.name }}</th>
            {% endfor %}
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>To date</td>
            {% for section in sections %}
            <td>x</td>
            {% endfor %}
          </tr>
          <tr>
            <td>Completed</td>
            {% for section in sections %}
            <td>x</td>
            {% endfor %}
          </tr>
          <tr>
            <td>In-Progress</td>
            {% for section in sections %}
            <td>x</td>
            {% endfor %}
          </tr>
          <tr>
            <td>Outstanding</td>
            {% for section in sections %}
            <td>x</td>
            {% endfor %}
          </tr>
          </tbody>
        </table>

      </div>
      <div class="col-12 col-lg-6">

        <h6>Outstanding RIs</h6>
        <canvas class="my-4 w-100" id="line-chart" width="900" height="380"></canvas>


        <h6>Solution Progress</h6>
        <canvas class="my-4 w-100" id="bar-chart" width="900" height="380"></canvas>

      </div>
    </div>

    {{ stats|json_script:"section-stats" }}
    <script>
        console.log(
          JSON.parse(document.getElementById("section-stats").textContent)
        )
    </script>
    <script defer src="{% static 'scripts/compliance-dashboard.js' %}"></script>
  </main>

{% endblock %}



