{% extends 'defects/base.html' %}

{% load static %}

{% block content %}

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">

    <div class="d-flex justify-content-between mb-3">
      <h2>Compliance Dashboard</h2>
      <div>
        <div class="btn-group">
          <a href="#" class="btn btn-secondary btn-sm">Tumela</a>
          <a href="#" class="btn btn-secondary btn-sm">Dishaba</a>
          <a href="#" class="btn btn-primary btn-sm active">Concentrators</a>
          <a href="#" class="btn btn-secondary btn-sm">All Sections</a>
        </div>

      </div>
    </div>

    <p>Reliability Statistics for Amandelbult Mine, Section Concentrators, for the past 25 weeks.</p>

    <div class="row">
      <div class="col-12 col-lg-6">

        <h6>RIs</h6>
        <table class="table table-sm table-striped">
          <thead>
          <tr>
            <th>Description</th>
            <th>UG2 #1</th>
            <th>UG2 #2</th>
            <th>Merensky</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Free days</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
          </tr>
          <tr>
            <td>To date</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
          </tr>
          <tr>
            <td>Closed out</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
          </tr>
          <tr>
            <td>Outstanding</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
          </tr>
          <tr>
            <td>% Closed out</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
          </tr>
          </tbody>
        </table>

        <h6>HIPOs</h6>
        <table class="table table-sm table-striped">
          <thead>
          <tr>
            <th>Description</th>
            <th>UG2 #1</th>
            <th>UG2 #2</th>
            <th>Merensky</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>To date</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
          </tr>
          <tr>
            <td>Closed out</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
          </tr>
          <tr>
            <td>Outstanding</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
          </tr>
          <tr>
            <td>% Closed out</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
          </tr>
          </tbody>
        </table>

        <h6>Solutions</h6>
        <table class="table table-sm table-striped">
          <thead>
          <tr>
            <th>Description</th>
            <th>UG2 #1</th>
            <th>UG2 #2</th>
            <th>Merensky</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>To date</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
          </tr>
          <tr>
            <td>Completed</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
          </tr>
          <tr>
            <td>In-Progress</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
          </tr>
          <tr>
            <td>Outstanding</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="col-12 col-lg-6">

        <h6>Outstanding RIs</h6>
        <canvas class="my-4 w-100" id="line-chart" width="900" height="380"></canvas>


        <h6>Solution Progress</h6>
        <canvas class="my-4 w-100" id="bar-chart" width="900" height="380"></canvas>

      </div>
    </div>


    <script defer src="{% static 'scripts/compliance-dashboard.js' %}"></script>
  </main>

{% endblock %}



