{% extends 'defects/base.html' %}

{% block content %}
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">

    <h2>Reliability Incident TUM_2022_009</h2>
    <hr>

    <div class="row">
      <div class="col-12 col-lg-6">
        <h4>Timeline</h4>
        <section class="py-3">
          <ul class="timeline-with-icons">
            <li class="timeline-item mb-5">
              <span class="timeline-icon" data-feather="alert-triangle"></span>
              <h6>Incident Occurrence</h6>
              <p class="mb-2">2022-10-14 09:18 – 2022-10-14 11:09</p>
              <p class="text-muted">Downtime</p>
            </li>
            <li class="timeline-item mb-5">
              <span class="timeline-icon" data-feather="log-in"></span>
              <h6>Incident Logged</h6>
              <p class="mb-2">2022-10-14 18:30</p>
              <p class="text-muted">Created by Name Surname.</p>
            </li>

            <li class="timeline-item mb-5">
              <span class="timeline-icon bg-light text-black" data-feather="fast-forward"></span>
              <h6>Next Actions</h6>
            </li>

            <li class="timeline-item mb-5">
              <span class="timeline-icon" data-feather="clock"></span>
              <h6>Create 48-hour notification report</h6>
              <p class="mb-2">2023-10-16</p>
              <p class="text-muted">12 hours of deadline remaining</p>
              <p><a href="{% url 'incident_notification_form' %}" class="btn btn-sm btn-primary">Add Information</a></p>
            </li>

          </ul>
        </section>

      </div>
      <div class="col-12 col-lg-6">
        <h4>Overview</h4>
        <p class="mt-3 mb-0"><strong>Short Description</strong></p>
        <p>{% lorem 8 w %}</p>

        <table class="table table-bordered">
          <tbody>
          <tr>
            <th>RI Number</th>
            <td>TUM_2022_009</td>
          </tr>
          <tr>
            <th>Operation</th>
            <td>AMB</td>
          </tr>
          <tr>
            <th>Section</th>
            <td>Tumela</td>
          </tr>
          <tr>
            <th>Section Engineer</th>
            <td>John Doe</td>
          </tr>
          <tr>
            <th>Time</th>
            <td>2022-10-14 13:20</td>
          </tr>
          <tr>
            <th>Equipment</th>
            <td>Man Winder</td>
          </tr>
          <tr>
            <th>Significant</th>
            <td>---</td>
          </tr>
          <tr>
            <th>Production Cost</th>
            <td>---</td>
          </tr>
          <tr>
            <th>Rand Cost</th>
            <td>---</td>
          </tr>
          <tr>
            <th>48h Notification</th>
            <td>---</td>
          </tr>

          </tbody>
        </table>

      </div>

    </div>

  </main>

{% endblock %}
