{% extends 'defects/base.html' %}

{% load crispy_forms_filters static %}

{% block content %}
  <main>
    <h2>Add Additional RI Solution Beyond Close-Out Slide</h2>
    <hr>

    <form method="post" action="{% url 'incident_solution_create' incident.pk %}" up-submit up-layer="parent">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>

    {% include "defects/_datepicker.html" %}

    <script>

      const timeframeSelect = document.querySelector(`select[name="timeframe"]`)
      const plannedDateInput = document.querySelector(`input[name="planned_completion_date"]`)

      timeframeSelect.addEventListener("change", e => {
        const newVal = e.target.value

        let addedDays = 0;

        if (newVal === "short_term") {
          addedDays = 30*3
        } else if (newVal === "medium_term") {
          addedDays = 30*6
        } else if (newVal === "long_term") {
          addedDays = 365
        }

        const newDate = new Date((new Date).getTime() + addedDays * 86400000);
        plannedDateInput.value = newDate.toISOString().substring(0, 10)

      })
    </script>

  </main>

{% endblock %}



