{% extends 'defects/base.html' %}

{% block content %}
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Reliability Incident {{ incident.code }}</h2>
      <div><a href="{% url 'incident_update' incident.pk %}" class="btn btn-primary btn-sm">Edit</a></div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12 col-lg-6">
        <h4>Timeline</h4>
        <section class="py-3">
          <ul class="timeline-with-icons">

            {% for entry in incident.timeline %}
              {% include 'defects/_timeline_entry.html' with entry=entry %}
            {% endfor %}

            {% if actions %}
              <li class="timeline-item mb-5">
                <span class="timeline-icon bg-light text-black" data-feather="fast-forward"></span>
                <h6>Future Actions</h6>
              </li>
            {% endif %}

            {% for entry in actions %}
              {% include 'defects/_timeline_entry.html' with entry=entry %}
            {% endfor %}

          </ul>
        </section>

      </div>
      <div class="col-12 col-lg-6">
        <h4>Short Description</h4>
        <p>{{ incident.short_description }}</p>
        <h4 class="mt-3">Long Description</h4>
        {{ incident.long_description|linebreaks }}
        <table class="table table-bordered">
          <tbody>
          <tr>
            <th>RI Number</th>
            <td>{{ incident.code }}</td>
          </tr>
          <tr>
            <th>Mine</th>
            <td>{{ incident.operation }}</td>
          </tr>
          <tr>
            <th>Section</th>
            <td>{{ incident.section.name }}</td>
          </tr>
          <tr>
            <th>Section Engineer</th>
            <td>{{ incident.section_engineer.name }}</td>
          </tr>
          <tr>
            <th>Time</th>
            <td>{{ incident.time_start|date:'Y-m-d H:i' }}{% if incident.time_end %} – {{ incident.time_end|date:'Y-m-d H:i' }}{% endif %}</td>
          </tr>
          <tr>
            <th>Equipment</th>
            <td>{{ incident.equipment.name }}</td>
          </tr>
          <tr>
            <th>Significant</th>
            <td>{% if incident.significant %}Yes{% else %}No{% endif %}</td>
          </tr>
          <tr>
            <th>Production Cost</th>
            <td>{{ incident.production_value_loss }}</td>
          </tr>
          <tr>
            <th>Rand Cost</th>
            <td>{{ incident.rand_value_loss }}</td>
          </tr>
          <tr>
            <th>48h Notification</th>
            <td>{% if reports.notification %}<a href="#">Download</a>{% else %}---{% endif %}</td>
          </tr>
          <tr>
            <th>Close Out</th>
            <td>{% if reports.close %}<a href="#">Download</a>{% else %}---{% endif %}</td>
          </tr>
          <tr>
            <th>RCA Report</th>
            <td>{% if reports.rca %}<a href="#">Download</a>{% else %}---{% endif %}</td>
          </tr>

          </tbody>
        </table>

        {% if request.GET.solutions == '1' %}
          <div class="d-flex mt-4 justify-content-between">
            <h4>Solutions</h4>
            <div>
              <a href="{% url 'solution_list' %}?filter=1&solution_status=identified" class="btn btn-sm btn-outline-secondary me-2">View in Solution
                Tracker</a>
              <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                Add
              </button>
            </div>
          </div>


          <table class="table table-bordered mt-2">
            <tbody>
            <tr>
              <th colspan="2">Short-Term</th>
            </tr>
            <tr>
              <td data-toggle="tooltip" title="Section Engineer: {% lorem 30 w random %}">{% lorem 3 w random %}</td>
              <td class="table-success" style="width: 100px">Complete</td>
            </tr>
            <tr>
              <td>{% lorem 3 w random %}</td>
              <td class="table-success" style="width: 100px">Complete</td>
            </tr>
            <tr>
              <th colspan="2">Mid-Term</th>
            </tr>
            <tr>
              <td>{% lorem 3 w random %}</td>
              <td class="table-success" style="width: 100px">Completed</td>
            </tr>
            <tr>
              <td>{% lorem 3 w random %}</td>
              <td class="table-light" style="width: 100px">Identified</td>
            </tr>
            <tr>
              <th colspan="2">Long-Term</th>
            </tr>
            <tr>
              <td>{% lorem 3 w random %}</td>
              <td class="table-light" style="width: 100px">Identified</td>
            </tr>
            <tr>
              <td>{% lorem 3 w random %}</td>
              <td class="table-primary" style="width: 100px">Scheduled</td>
            </tr>
            </tbody>
          </table>
        {% endif %}
      </div>

    </div>

  </main>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Solution</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="solution-type" class="form-label">Timeframe</label>
              <select class="form-select" id="solution-type" aria-label="Default select example">
                <option value="1" selected>Short-Term</option>
                <option value="2">Mid-Term</option>
                <option value="3">Long-Term</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="priority" class="form-label">Priority</label>
              <select class="form-select" id="priority" aria-label="Default select example">
                <option value="1" selected>A</option>
                <option value="2">B</option>
                <option value="3">C</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="solution-description" class="form-label">Description</label>
              <input type="text" class="form-control" id="solution-description">
            </div>
            <div class="mb-3">
              <label for="person-responsible" class="form-label">Person Responsible</label>
              <input type="text" class="form-control" id="person-responsible">
            </div>
            <div class="mb-3">
              <label for="planned-completion-date" class="form-label">Planned Completion Date</label>
              <input type="text" class="form-control" id="planned-completion-date" placeholder="YYYY-MM-DD">
            </div>
            <div class="mb-3">
              <label for="notes" class="form-label">Notes</label>
              <textarea class="form-control" id="notes" rows="8" placeholder="Add any notes or remarks."></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block extra_scripts %}
  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>
{% endblock %}
