{% extends 'defects/base.html' %}

{% block content %}
  <main>

    <div class="d-flex justify-content-between mb-3">
      <h2>RI Register</h2>
      <div>
        <a href="{% url 'incident_create' %}" up-layer="new" class="btn btn-primary btn-sm" up-history="false">Log RI</a>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <p>{% if query %}Results for search query: <strong>"{{ query }}"</strong>{% else %}No search query applied.{% endif %}</p>
      <div class="d-flex">
        <form method="get" class="pe-2">
          <input type="text" class="form-control form-control-sm" name="query" placeholder="Search..." aria-label="Search" value="{{ query }}">
        </form>
        <div>
          <a href="{% url 'incident_list_export' %}" target="_blank" class="btn btn-outline-secondary btn-sm">Export</a>
          <a href="{% url 'incident_list_filter' %}?{{ request.GET.urlencode }}" up-layer="new" up-history="false" class="btn btn-outline-secondary btn-sm">Filter</a>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-sm table-striped table-hover">
        <thead>
        <tr>
          <th>Status</th>
          <th>RI No</th>
          <th>Date</th>
          <th>Section</th>
          <th>Section Engineer</th>
          <th>Functional Location</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for incident in incidents %}
          <tr>
            <td class="text-nowrap"><span class="badge text-bg-{{ incident.status_class }}">{{ incident.status }}</span></td>
            <td class="text-nowrap"><a class="text-black" href="{% url 'incident_detail' incident.pk %}">{{ incident.code }}</a></td>
            <td class="font-monospace text-nowrap">{{ incident.time_start|date:'Y-m-d' }}</td>
            <td class="text-nowrap">{{ incident.section.name }}</td>
            <td class="text-nowrap">{{ incident.section_engineer.username }}</td>
            <td class="text-nowrap">{{ incident.equipment.name }}</td>
            <td class="text-nowrap">{{ incident.short_description }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}
