{% extends 'defects/base.html' %}

{% load crispy_forms_filters static %}

{% block content %}
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3 mb-4">

    <div class="d-flex justify-content-between">
      <h2>Publish Reliability Incident Notification Report and Request Approval</h2>

    </div>
    <hr>

    <p>Select a section engineering manager below to review the notification report for incident "{{ incident.code }}".</p>

    <p>Once approved, the notification report will be sent to AM&R for circulation.</p>

    <div>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div>
    <div>

    </div>

  </main>
{% endblock %}

