{% extends 'defects/base.html' %}

{% block content %}
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Reliability Incident {{ incident.code }}</h2>
      <div>
        <a href="{% url 'incident_update' incident.pk %}" class="btn btn-primary btn-sm" up-layer="new" up-size="large">Edit</a>
        <a href="{% url 'incident_images' incident.pk %}" class="btn btn-primary btn-sm" up-layer="new" up-size="large">Images</a>
        {#        <a href="{% url 'incident_history' incident.pk %}" class="btn btn-secondary btn-sm">History</a>#}
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12 col-lg-6">
        <h4>Short Description</h4>
        <p>{{ incident.short_description }}</p>
        <h4 class="mt-3">Long Description</h4>
        {{ incident.long_description|linebreaks }}
        <h4>Timeline</h4>
        <section class="py-3">
          <ul class="timeline-with-icons">

            {% for entry in incident.timeline %}
              {% include 'defects/_timeline_entry.html' with entry=entry %}
            {% endfor %}

            {% if incident.actions %}
              <li class="timeline-item mb-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="timeline-icon bi bi-fast-forward-circle bg-secondary text-white" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14Zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16Z"/>
                  <path d="M4.271 5.055a.5.5 0 0 1 .52.038L8 7.386V5.5a.5.5 0 0 1 .79-.407l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 8 10.5V8.614l-3.21 2.293A.5.5 0 0 1 4 10.5v-5a.5.5 0 0 1 .271-.445Z"/>
                </svg>
                <h6>Actions</h6>
              </li>
            {% endif %}

            {% for entry in incident.actions %}
              {% include 'defects/_timeline_entry.html' with entry=entry %}
            {% endfor %}

          </ul>
        </section>

      </div>
      <div class="col-12 col-lg-6">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <th>RI Number</th>
            <td>{{ incident.code }}</td>
          </tr>
          <tr>
            <th>Operation</th>
            <td>{{ incident.operation }}</td>
          </tr>
          <tr>
            <th>Area</th>
            <td>{{ incident.area }}</td>
          </tr>
          <tr>
            <th>Section</th>
            <td>{{ incident.section.name }}</td>
          </tr>
          <tr>
            <th>Section Engineer</th>
            <td>{{ incident.section_engineer.username }}</td>
          </tr>
          <tr>
            <th>Time</th>
            <td>{{ incident.time_start|date:'Y-m-d H:i' }}{% if incident.time_end %} – {{ incident.time_end|date:'Y-m-d H:i' }}{% endif %}</td>
          </tr>
          {% if incident.time_end %}
            <tr>
              <th>Duration</th>
              <td>{{ incident.duration_text }}</td>
            </tr>
          {% endif %}
          <tr>
            <th>Equipment</th>
            <td>{{ incident.equipment.name }} ({{ incident.equipment.code }})</td>
          </tr>
          <tr>
            <th>Significant</th>
            <td>{% if incident.significant %}Yes{% else %}No{% endif %}</td>
          </tr>
          <tr>
            <th>Production Cost</th>
            <td>{{ incident.production_value_loss }} Pt Ounces</td>
          </tr>
          <tr>
            <th>Rand Cost</th>
            <td>{{ incident.rand_value_loss }}</td>
          </tr>
          {% if incident.preliminary_findings %}
            <tr>
              <th>Preliminary Findings</th>
              <td><a href="{{ incident.preliminary_findings.url }}" download>Download</a></td>
            </tr>
          {% endif %}
          <tr>
            <th>48h Notification</th>
            <td><a href="{% url 'incident_notification' incident.pk %}">View</a>, <a href="{% url 'incident_notification_pdf' incident.pk %}" target="_blank">Download PDF</a></td>
          </tr>
          <tr>
            <th>Close Out</th>
            <td><a href="{% url 'incident_close_pdf' incident.pk %}" target="_blank">Download PDF</a></td>
          </tr>
          <tr>
            <th>RCA Report</th>
            <td>{% if incident.report_file %}<a href="{{ incident.report_file.url }}" target="_blank">Download Report</a>, {% endif %}<a href="{% url 'incident_rca_report_upload' incident.pk %}" up-layer="new">Upload Report</a></td>
          </tr>
          <tr>
            <th>Images</th>
            <td><a href="{% url 'incident_images' incident.pk %}" up-layer="new" up-size="large">{{ incident.images.all|length }} image{{ incident.images.all|length|pluralize }}</a></td>
          </tr>

          </tbody>
        </table>


        <div class="d-flex mt-4 justify-content-between">
          <h4>Solutions</h4>
          <div>
            <a href="{% url 'solution_list' %}?incident_id={{ incident.pk }}" class="btn btn-sm btn-outline-secondary me-2">View in Solution

              Tracker</a>
            <a href="{% url 'incident_solution_create' incident.pk %}" up-layer="new" class="btn btn-sm btn-primary">Add</a>
          </div>
        </div>


        <table class="table table-bordered mt-2">
          <tbody>
          <tr>
            <th colspan="2">Short-Term</th>
            <th>Priority</th>
          </tr>
          {% for solution in incident.solutions.all %}
            {% if solution.timeframe == solution.SHORT_TERM %}
              <tr>
                <td><span class="badge text-bg-{{ solution.status_class }}">{{ solution.get_status_display }}</span></td>
                <td>{{ solution.description }}</td>
                <td>{{ solution.get_priority_display }}</td>
              </tr>
            {% endif %}
          {% endfor %}
          <tr>
            <th colspan="2">Mid-Term</th>
            <th>Priority</th>
          </tr>
          {% for solution in incident.solutions.all %}
            {% if solution.timeframe == solution.MEDIUM_TERM %}
              <tr>
                <td><span class="badge text-bg-{{ solution.status_class }}">{{ solution.get_status_display }}</span></td>
                <td>{{ solution.description }}</td>
                <td>{{ solution.get_priority_display }}</td>
              </tr>
            {% endif %}
          {% endfor %}
          <tr>
            <th colspan="2">Long-Term</th>
            <th>Priority</th>
          </tr>
          {% for solution in incident.solutions.all %}
            {% if solution.timeframe == solution.LONG_TERM %}
              <tr>
                <td><span class="badge text-bg-{{ solution.status_class }}">{{ solution.get_status_display }}</span></td>
                <td>{{ solution.description }}</td>
                <td>{{ solution.get_priority_display }}</td>
              </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
      </div>

    </div>

  </main>

{% endblock %}
