{% extends 'defects/base.html' %}
{% load static %}

{% block extra_styles %}
  <style>
    .colored-dot {
      width: 12px;
      height: 12px;
      display: inline-block;
      border-radius: 6px;
    }
  </style>
{% endblock %}

{% block content %}
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
    </div>

    <div class="row">

      <div class="col-12 col-lg-6 my-3">
        <h6 class="text-body-secondary">Ongoing Reliability Incidents Per Area</h6>
        <div class="row mt-4">
          {% for row in area %}
            <div class="col col-lg-6 text-center">
              <p class="display-6">{{ row.name }}</p>
              <p class="display-2 fw-bold">{{ row.count }}</p>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-12 col-lg-6 my-3">
        <h6 class="text-body-secondary">Actions Required</h6>

        <table class="table table-sm table-striped">
          <thead>
          <tr>
            <th>Incident</th>
            <th>Action</th>
            <th>Required By</th>
          </tr>
          </thead>
          <tbody>
          {% for obj in user_actions %}
            <tr>
              <td><a href="{% url 'incident_detail' obj.incident_id %}" class="text-black">{{ obj.incident.code}}</a></td>
              <td><span class="colored-dot bg-{{ obj.urgency }}"></span> {{ obj.description}}</td>
              <td>{{ obj.time_required|date:'Y-m-d' }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

    </div>

    <div class="row mt-4">

      <div class="col-12 col-lg-6">
        <h6 class="text-body-secondary">Number of Ongoing Solutions</h6>
        <canvas class="w-100" id="myChart" width="900" height="250"></canvas>
      </div>
      <div class="col-12 col-lg-6">
        <h6 class="text-body-secondary">Number of Upcoming Anniversaries</h6>
        <canvas class="w-100" id="bar-chart" width="900" height="250"></canvas>
      </div>
    </div>

    <div class="row mt-4">

      <div class="col-12 col-lg-6 my-3">
        <h6 class="text-body-secondary">Equipment With Multiple RIs (past 12 months)</h6>
        <p><small class="text-body-secondary">Click Equipment to show incidents</small></p>
        <table class="table table-sm table-striped">
          <thead>
          <tr>
            <th>Equipment</th>
            <th>Incidents</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><a href="#" class="text-black">Mills</a></td>
            <td>4</td>
          </tr>
          <tr>
            <td><a href="#" class="text-black">Motors</a></td>
            <td>7</td>
          </tr>
          <tr>
            <td><a href="#" class="text-black">Pumps</a></td>
            <td>2</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-12 col-lg-6 my-3">
        <h6 class="text-body-secondary">Equipment With Multiple RIs (past 12 months)</h6>
        <p><small class="text-body-secondary">Click Equipment ID to show incidents</small></p>
        <table class="table table-sm table-striped">
          <thead>
          <tr>
            <th>Equipment ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>Incidents</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><a href="#" class="text-black">MI-D-12</a></td>
            <td>Mill #44</td>
            <td>xxx</td>
            <td>3</td>
          </tr>
          <tr>
            <td><a href="#" class="text-black">PM-K-998</a></td>
            <td>Oil Pump #12</td>
            <td>xxx</td>
            <td>5</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </main>
{% endblock %}

{% block extra_scripts %}


  <script src="{% static 'chart.min.js' %}"></script>
  <script>
    /* globals Chart:false, feather:false */

    (() => {
      // Graphs
      const ctx = document.getElementById('myChart')
      // eslint-disable-next-line no-unused-vars
      const myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [
            '2022-04',
            '2022-05',
            '2022-06',
            '2022-07',
            '2022-08',
            '2022-09',
            '2022-10'
          ],
          datasets: [{
            data: [
              39,
              42,
              38,
              35,
              40,
              41,
              29
            ],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          plugins: {
            title: {
              display: false
            },
            legend: {
              display: false,
            }
          }
        }
      })
    })()

  </script>

  <script>
    /* globals Chart:false, feather:false */

    (() => {
      // Graphs
      const ctx = document.getElementById('bar-chart')
      // eslint-disable-next-line no-unused-vars
      const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [
            '2022-04',
            '2022-05',
            '2022-06',
            '2022-07',
            '2022-08',
            '2022-09',
            '2022-10'
          ],
          datasets: [{
            data: [
              6,
              5,
              4,
              15,
              7,
              8,
              9
            ],
            lineTension: 0,
            backgroundColor: '#007bff',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          plugins: {
            title: {
              display: false
            },
            legend: {
              display: false,
            }
          }
        }
      })
    })()

  </script>
{% endblock %}
