{% extends 'defects/base.html' %}
{% load static %}

{% block extra_styles %}

{% endblock %}

{% block content %}
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
    </div>

    <div class="row">

      <div class="col-12 col-lg-6 my-3">
        <h6 class="text-body-secondary">Ongoing Reliability Incidents</h6>

        {% include 'defects/_dashboard_count_table.html' with rows=operations title="Operation" %}
        {% include 'defects/_dashboard_count_table.html' with rows=areas title="Area" %}
        {% include 'defects/_dashboard_count_table.html' with rows=sections title="Section" %}

      </div>

      <div class="col-12 col-lg-6 my-3">
        {% if approvals %}
          <h6 class="text-body-secondary">Approvals Required</h6>

          <table class="table table-sm table-striped">
            <thead>
            <tr>
              <th>Incident</th>
              <th>Type</th>
              <th>Requester</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for approval in approvals %}
              <tr>
                <td><a href="{% url 'incident_detail' approval.incident_id %}" class="text-black" up-follow>{{ approval.incident.code }}</a></td>
                <td>{{ approval.get_type_display }}</td>
                <td>{{ approval.created_by.username }}</td>
                <td><a href="{% url 'approval_detail' approval.pk %}" class="text-black" up-layer="new">View</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% endif %}

        <h6 class="text-body-secondary">Actions Required</h6>

        <table class="table table-sm table-striped">
          <thead>
          <tr>
            <th>Incident</th>
            <th>Action</th>
            <th>Required By</th>
          </tr>
          </thead>
          <tbody>
          {% for action in user_actions %}
            <tr>
              <td><a href="{% url 'incident_detail' action.incident.id %}" class="text-black">{{ action.incident.code }}</a></td>
              <td><span class="colored-dot bg-{{ action.urgency.value }}"></span> {{ action.message }}</td>
              <td>{{ action.time_required|date:'Y-m-d' }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

    </div>

    <div class="row mt-4">

      <div class="col-12 col-lg-6">
        <h6 class="text-body-secondary">Number of Ongoing Solutions</h6>
        <canvas class="w-100" id="myChart" width="900" height="250"></canvas>
      </div>
      <div class="col-12 col-lg-6">
        <h6 class="text-body-secondary">Number of Upcoming Anniversaries</h6>
        <canvas class="w-100" id="bar-chart" width="900" height="250"></canvas>
      </div>
    </div>

    <div class="row mt-4">

      <div class="col-12 col-lg-6 my-3">
        <h6 class="text-body-secondary">Equipment With Multiple RIs (past 12 months)</h6>
        <p><small class="text-body-secondary">Click Equipment to show incidents</small></p>
        <table class="table table-sm table-striped">
          <thead>
          <tr>
            <th>Equipment</th>
            <th>Incidents</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><a href="#" class="text-black">Mills</a></td>
            <td>4</td>
          </tr>
          <tr>
            <td><a href="#" class="text-black">Motors</a></td>
            <td>7</td>
          </tr>
          <tr>
            <td><a href="#" class="text-black">Pumps</a></td>
            <td>2</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-12 col-lg-6 my-3">
        <h6 class="text-body-secondary">Equipment With Multiple RIs (past 12 months)</h6>
        <p><small class="text-body-secondary">Click Equipment ID to show incidents</small></p>
        <table class="table table-sm table-striped">
          <thead>
          <tr>
            <th>Equipment ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>Incidents</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><a href="#" class="text-black">MI-D-12</a></td>
            <td>Mill #44</td>
            <td>xxx</td>
            <td>3</td>
          </tr>
          <tr>
            <td><a href="#" class="text-black">PM-K-998</a></td>
            <td>Oil Pump #12</td>
            <td>xxx</td>
            <td>5</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="{% static "scripts/home-dashboard.js" %}" defer></script>
  </main>
{% endblock %}

