{% extends 'defects/base.html' %}

{% block content %}

  <main>

    <h2>Object History</h2>

    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Field</th>
          <th>From</th>
          <th>To</th>
        </tr>
        </thead>
        <tbody>
        {% for row in history %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ value.0|default:"None" }}</td>
            <td>{{ value.1|default:"None" }}</td>
          </tr>
        {% empty %}
          <p>No history for this item has been logged yet.</p>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}
